/*font-family: 'Edu VIC WA NT Beginner', cursive;*/
h1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    text-transform: uppercase;
    /*mayuscula*/
}

#Titulo {
    width: 900px;
    height: 50px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
    margin: 15px;
}

h2 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(0, 6, 8);
}

h3 {
    font-weight: bold;
    text-decoration-line: underline;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(0, 7, 10);
}

#cajadatospersonales {

    text-align: center;
    background: -moz-linear-gradient(top, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    background: -webkit-linear-gradient(top, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    background: linear-gradient(to bottom, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 70%;
    width: 900px;
    border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
}

#Perfil {

    text-align: center;
    background: -moz-linear-gradient(top, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    background: -webkit-linear-gradient(top, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    background: linear-gradient(to bottom, rgb(147, 206, 222) 0%, rgb(117, 189, 209) 41%, rgb(73, 165, 191) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0);
    height: 350px;
    width: 850px;
    border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

img {
    border-radius: 56px 56px 56px 56px;
    -webkit-border-radius: 56px 56px 56px 56px;
    -moz-border-radius: 56px 56px 56px 56px;
    border: 2px solid #000000;
    box-shadow: -1px 3px 5px 7px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: -1px 3px 5px 7px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -1px 3px 5px 7px rgba(0, 0, 0, 0.78);
}